body{
	margin: 0;
	
}

header{
	background-color: gold;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Suez One', serif;
}

p, ol, ul{
	font-family: 'Montserrat', sans-serif;
}

header h1{
	color: darkred;
	font-size: 50px;
}

header img{
	border-radius: 170px;
    width: 300px;
    border: 20px solid darkred;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

main img{
	max-width: 100%;
}